.css-gc1pe7 {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: none !important;
}

input[type="text"] {
    font-size: 20px;
    font-weight: unset !important; 
}

.css-yjs2p9-MuiTypography-root {
    color: #6069da !important;
}

img.imageStyle {
  height: 20%;
  width: 20%;
  border-radius: 50px;
}
.user-login .css-1umw9bq-MuiSvgIcon-root{
    fill:#5c3b7e !important;
  }