.blue-box {
     background-color: white !important; 
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0px !important; 
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none !important;
}

.css-1nf0fen-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  color: #6069da !important;
}


