.forgot-password-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .blue-box {
    background-color: #4a4ebd;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  input[type="text"] {
    font-size: 20px;
    font-weight: bold;
  }

 
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  

    height: 10px !important;
 
}
.css-1abudc7 {
    margin-bottom: 0px !important;
}